@import "./base";
@import "./header";
@import "./sidebar";
@import "./sales";
@import "./new";

html {
  box-sizing: border-box;
}


@media screen and (max-width: 992px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 80px 80px repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-template-areas: "header" "sidebar" "sales" "new";
  }
}

.container{
  margin: 80px;
  width: 1320px;
  height: 800px;
  border: black solid 4px;
  display: grid;
  grid-template-rows: 80px 1fr 1fr 2fr;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  background-color: gray;
  
}
.sidebar{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: blue;
}
.header{
  grid-row: 1/2;
  background-color: red;
  grid-column: 2/6;
}
.sales{
  grid-row: 2/4;
  background-color: green;
  grid-column: 2/6;
}
.new-items{
  background-color: purple;
  grid-column: -5/-1;
}
.men{
  width: 35px;
}
.women{
 width: 35px;
}
.left-list{
  display: inline-block;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-left: 0px;
  margin-top: 130px;
  line-height: 35px;
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
}
.imgs{
  margin-right: 15px;
}